#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: azure;
  text-align: center;
}
.container{
  display: flex;
  flex-direction: row;
  gap:20px;
}

div.characterCard{
  width:500px;
  padding: 2em;
  background-color: rgb(216, 216, 216);
  color: black;
}

.character{
  align-items: center;
  flex-direction: column;
  display: flex;
}

.profileImg{
  width:300px;
}

.universe>img{
  width:100%;
}

li{
  text-align: left;
}
.read-the-docs {
  color: #888;
}
